# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore log files
*.log

# Ignore environment files
reveriontech/.env
reveriontech/.env.*

# Ignore OS specific files
.DS_Store
Thumbs.db

reveriontech/node_modules/
.env
